{% extends 'includes/base.html' %}

{% load static %}

{% block title %}HexChess | Game Page{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'game/style.css' %}">
{% endblock %}

{% block content %}
<p>
    {% if white == null %}
    <button onclick="send_white()" id="white_button">Join as white</button>
    {% endif %}
    <g id="forever_buttons">
    <button onclick="flip_board()">Flip Board</button>
    </g>
    {% if black == null %}
    <button onclick="send_black()" id="black_button">Join as black</button>
    {% endif %}
</p>

<p id="turn_disp">
    {% if winner %}
        {% if winner == 0 %}
            White wins!
        {% elif winner == 1 %}
            Black wins!
        {% else %}
            Stalemate!
        {% endif %}
    {% else %}
        {{ turn }} to move
    {% endif %}
</p>


<svg id="board"
     viewBox="0 0 800 600"
     preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg"
     style="width: 100%; height: 73vh; display: block; background: #1e1e1e;">
  
    <g id="board_group">
        {% for tile in board.tiles %}
        <polygon
            points="{{tile.points}}"
            style="fill:{{tile.color}};stroke:black;stroke-width:2" 
            id="{{ tile.q }}_{{ tile.r }}"
            center-x="{{ tile.center_x }}"
            center-y="{{ tile.center_y }}"
            piece-x="{{ tile.piece_x }}" 
            piece-y="{{ tile.piece_y }}" 
            onclick="submit_click(this)"
        />
        {% endfor %}
    </g>

    <!-- next loop for pieces -->
    {% for tile in board.tiles %}
        {% if tile.piece %}
        <g id="piece-{{ tile.q }}_{{ tile.r }}" class="piece-group" 
        transform="translate({{ tile.piece_x }}, {{ tile.piece_y }})"
        style="transition: transform 0.15s ease;"
        curr-x="{{ tile.piece_x }}" 
        curr-y="{{ tile.piece_y }}">
        {% with 'game/assets/'|add:tile.piece_path as image_path %}
            <image 
                href="{% static image_path %}" 
                width="30" 
                height="30"
                style="pointer-events: none;" />
        {% endwith %}
        </g>
        {% endif %}
    {% endfor %}

</svg>

{% endblock %}

{% block other_static %}
<audio id="sound-move" src="{% static 'game/assets/audio/move.mp3'%}"></audio>
<audio id="sound-capture" src="{% static 'game/assets/audio/capture.mp3'%}"></audio>
<audio id="sound-check" src="{% static 'game/assets/audio/check.mp3'%}"></audio>
<audio id="sound-game-start" src="{% static 'game/assets/audio/game-start.mp3'%}"></audio>
<audio id="sound-game-end" src="{% static 'game/assets/audio/game-end.mp3'%}"></audio>
{% endblock %}


{% block js %}
<script id="legal_moves_data" type="application/json">
    {{ legal_moves_json|safe }}
</script>


<script id="visual/audio">
    // All the visual/audio changes

    // plays a sound 
    function play_sound(name) {
        const sound = document.getElementById(`sound-${name}`);
        if (sound) {
            sound.currentTime = 0;
            sound.play();
        }
    }

    // highlight the moves we can make with a piece
    function highlight_moves(moves) {
        clear_highlights();
        // for each tile id in the given moves
        moves.forEach(tile_id => {
            // get the actual tile
            const tile = document.getElementById(tile_id);
            if (tile) {
                // change it's highlighting
                let center_x = parseFloat(tile.getAttribute("center-x"));
                let center_y = parseFloat(tile.getAttribute("center-y"));

                // invert y if needed
                if (flipped) {
                    const height = parseFloat(document.getElementById("board").getAttribute("viewBox").split(" ")[3]);
                    center_y = height - center_y
                }
                
                const dot = document.createElementNS("http://www.w3.org/2000/svg", "circle");
                dot.setAttribute("cx", center_x);
                dot.setAttribute("cy", center_y);
                dot.setAttribute("r", 10);
                dot.setAttribute("fill", "black");
                dot.setAttribute("fill-opacity", "0.5");
                dot.setAttribute("pointer-events", "none");

                dot.classList.add("highlight-dot");
                board.appendChild(dot);
            }
        })
    }

    // highlights the selected tile
    function highlight_selected(tile_id) {
        const board = document.getElementById("board");
        const tile = document.getElementById(tile_id);
        if (tile) {

            let points = tile.getAttribute("points");

            // make sure we have the right points if flipped
            if (flipped) {
                points = flip_points_helper(points);
            }

            // add overlay for highlight
            const selectedOverlay = document.createElementNS("http://www.w3.org/2000/svg", "polygon");
            selectedOverlay.setAttribute("points", points);
            selectedOverlay.setAttribute("fill", "black");
            selectedOverlay.setAttribute("fill-opacity", "0.3");
            selectedOverlay.setAttribute("stroke-width", "0");
            selectedOverlay.setAttribute("pointer-events", "none");
            
            selectedOverlay.classList.add("selected-overlay");

            board.appendChild(selectedOverlay);
        }
    }

    // clears all highlights (selected and moves)
    function clear_highlights() {
        document.querySelectorAll("polygon").forEach(tile => {
            document.querySelectorAll(".selected-overlay, .highlight-dot").forEach(el => el.remove());
        })
    }


    // helps with flipping the y coordinates of points, returning the new set
    function flip_points_helper(pointsStr) {
        // get rid of the extra whitespace
        const cleaned = pointsStr.trim().replace(/\s+/g, " ");

        // split
        const nums = cleaned.split(" ");
        const flippedPoints = [];

        for (let i = 0; i < nums.length; i += 2) {
            const height = parseFloat(document.getElementById("board").getAttribute("viewBox").split(" ")[3]);
            const x = nums[i].replace(",", ""); // remove the comma
            const y = height - nums[i + 1];
            flippedPoints.push(`${x},${y}`);
        }

        return flippedPoints.join(" ");
    }

    // highlights a tile as in check
    function highlight_check(tile_id) {
        const board = document.getElementById("board");
        const tile = document.getElementById(tile_id);
        if (tile) {

            // make sure we have the right points if flipped
            if (flipped) {
                points = flip_points_helper(points);
            }
            
            // add overlay for highlight
            const check_overlay = document.createElementNS("http://www.w3.org/2000/svg", "polygon");
            check_overlay.setAttribute("points", tile.getAttribute("points"));
            check_overlay.setAttribute("fill-opacity", "0");
            check_overlay.setAttribute("stroke", "red");
            check_overlay.setAttribute("stroke-width", "2");
            check_overlay.setAttribute("pointer-events", "none");
            check_overlay.setAttribute("id", "check_overlay")
            
            board.appendChild(check_overlay);
            play_sound("check");
        }
    }

    // clears the check tile
    function clear_check() {
        const check = document.getElementById("check_overlay");
        if (check) {
            check.remove()
        }
    }

    // flip the board when we hit the flip board button
    function flip_board() {
        clear_highlights();

        flipped = !flipped;

        // flip the board
        const transform_group = document.getElementById("board_group");
        const board_svg = document.getElementById("board");

        const viewBox = board_svg.getAttribute("viewBox").split(" ");
        const height = parseFloat(viewBox[3]);

        if (flipped) {
            transform_group.setAttribute("transform", `scale(1, -1) translate(0, -${height})`);
        } else {
            transform_group.setAttribute("transform", "scale(1, 1) translate(0, 0)");
        }

        // flip the pieces
        const pieces = document.querySelectorAll("g[id^='piece-']");
        pieces.forEach(piece => {
            const x = piece.getAttribute("curr-x");
            const y = piece.getAttribute("curr-y");
            piece.setAttribute("style", "none");
            piece.setAttribute("transform", `translate(${x}, ${height - y - 30})`);
            piece.setAttribute("curr-y", `${height - y - 30}`);
            // cant reset this instantly for some reason (not sure why)
            setTimeout(() => {
                piece.setAttribute("style", "transition: transform 0.15s ease;");
            }, 0);
        })
    }

    // updates the turn display to show winner or who is to play
    function update_turn(turn, winner) {
        const disp = document.getElementById("turn_disp");
        if (winner != null) {
            play_sound("game-end");
            if (winner == 1) {
                disp.textContent = "Black wins!";
            } else if (winner == 0) {
                disp.textContent = "White wins!";
            } else {
                disp.textContent = "Stalemate!";

            }
        } else {
            disp.textContent = `${turn} to move`;
        }
    }

</script>

<script id="vars">
    // variables 

    // track the legal moves
    let legal_moves = JSON.parse(document.getElementById("legal_moves_data").textContent);

    let selected_tile = null;

    // used to avoid double moving a move we sent
    let prev_move = null;

    // track the players and turn
    let white = "{{white}}" 
    let black = "{{black}}"
    let turn = "{{turn}}"

    let flipped = false;

</script>

<script id="websockets">
    // websocket stuff

    const roomname = "{{ room_name }}";
    const socket = new WebSocket(
        `ws://${window.location.host}/ws/game/${roomname}/`
    );

    // log when we interact
    socket.onopen = function(e) {
        console.log("WebSocket connected");
    }

    socket.onclose = function(e) {
        console.log("WebSocket disconnected");
    };

    socket.onerror = function(e) {
        console.error("WebSocket error:", e);
    };

    socket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        console.log("Recieved: ", data);
        if (data.type == "color_choose") {
            if (data.color == "white") {
                document.getElementById("white_button").remove()
                white = data.player;
            }
            if (data.color == "black") {
                document.getElementById("black_button").remove()
                black = data.player;
            }
        }
        else if (data.type == "error") {
            location.reload(true);
        }
        else if (data.type == "reset") {
            location.reload(true);
        }
        else if (data.type == "move") {
            // if its not the move we just sent
            if (data.move != prev_move) {
                const move = data.move.split(">");
                const from = move[0];
                const to = move[1];

                // make the move
                move_piece(from, to);
            }
            
            legal_moves = JSON.parse(data.legal_moves_json)

            if (data.check) {
                highlight_check(data.check)
            }
            update_turn(data.turn, data.winner);
            turn = data.turn;
        }
    }

    // send a move that we made
    function send_move(move_str) {
        socket.send(JSON.stringify({
            type: "move",
            move: move_str,
        }));
    }

    

    // send that we hit the "choose white" button
    // also flips board to white
    function send_white() {
        socket.send(JSON.stringify({
            type: "color_choose",
            color: "white",
        }));
        if (flipped) {
            flip_board();
        }
    }
    
    // send that we hit the "choose black" button
    // also flips board to black
    function send_black() {
        socket.send(JSON.stringify({
            type: "color_choose",
            color: "black",
        }));
        if (!flipped) {
            flip_board();
        }
    }

    // what happens when we click on a tile
    function submit_click(element) {        
        const tile_id = element.getAttribute("id");

        if (selected_tile === null) {
            // if we selected an allied piece, highlight the moves
            if (tile_id in legal_moves) {
                selected_tile = tile_id;
                highlight_moves(legal_moves[tile_id]);
                highlight_selected(tile_id)
            }
        } else { 
            // if we selected a legal move and are allowed to move, move it
            if (legal_moves[selected_tile].includes(tile_id) &&
                (( "{{user}}" == `${white}` && `${turn}` == "White") || 
                 ( "{{user}}" == `${black}` && `${turn}` == "Black"))
                ) {
                const move = selected_tile + ">" + tile_id;
                // avoid trying to move when we receive the move we sent
                prev_move = move; 
                move_piece(selected_tile, tile_id);
                send_move(move);
            }
            // selected a different allied piece
            else if (tile_id in legal_moves) {
                selected_tile = tile_id;
                highlight_moves(legal_moves[tile_id]);
                highlight_selected(tile_id)
            }
            // if the move isnt legal, clear the highlights
            else {
                clear_highlights();
                selected_tile = null;
            }
        }
    }

    // moves a piece 
    function move_piece(from, to) {
        to_tile = document.getElementById(to);

        // get piece we are moving
        const piece = document.getElementById(`piece-${from}`);
        // remove piece we are moving onto
        const piece_taken = document.getElementById(`piece-${to}`);
        if (piece_taken) {
            piece_taken.remove();
        }

        // move piece visually
        const target_x = to_tile.getAttribute("piece-x");
        const target_y = to_tile.getAttribute("piece-y");
        
        // set new x
        piece.setAttribute("curr-x", target_x);

        // make sure we move to the right place based on flipping 
        if (flipped) {
            const height = parseFloat(document.getElementById("board").getAttribute("viewBox").split(" ")[3]);
            piece.setAttribute("transform", `translate(${target_x}, ${height - target_y - 30})`);
            piece.setAttribute("curr-y", `${height - target_y - 30}`);
        } else {
            piece.setAttribute("transform", `translate(${target_x}, ${target_y})`);
            piece.setAttribute("curr-y", `${target_y}`);
        }

        // set piece's id to the new tile
        piece.setAttribute("id", `piece-${to}`)

        clear_highlights();
        clear_check();
        selected_tile = null;

        // if piece_taken play sound
        if (piece_taken) {
            play_sound("capture");
        } else {
            play_sound("move");
        }
    }


</script>

{% endblock %}
