{% load static %}

<link rel="stylesheet" href="{% static 'game/style.css' %}">

<form id="reset_form" method="POST" action="{% url 'game:reset' %}">
    {% csrf_token %}
    <input type="submit" value="Reset Board">
</form>

<form id="flip_form" method="POST" action="{% url 'game:flip' %}">
    {% csrf_token %}
    <input type="submit" value="Flip Board">
</form>


<p id="turn_disp">
    {{ turn }} to move
</p>


<svg id="board" width="100vw" height="100vh" viewBox="0 0 800 800" xmlns="http://www.w3.org/2000/svg" style="display:block; background:#f0f0f0;">
    <g id="board_group">
    {% for tile in board.tiles %}
        <polygon
            points="{{tile.points}}"
            style="fill:{{tile.color}};stroke:black;stroke-width:2" 
            id="{{ tile.q }}_{{ tile.r }}"
            center-x="{{ tile.center_x }}"
            center-y="{{ tile.center_y }}"
            piece-x="{{ tile.piece_x }}" 
            piece-y="{{ tile.piece_y }}" 
            onclick="submit_click(this)"
        />
        {% if tile.piece %}
            {% with 'game/assets/'|add:tile.piece_path as image_path%}
                <image 
                id="piece-{{ tile.q }}_{{tile.r}}"
                href="{% static image_path %}" 
                x="{{ tile.piece_x }}" 
                y="{{ tile.piece_y }}" 
                width="30" 
                style="pointer-events: none;"/>
            {% endwith %}
        {% endif %}
    {% endfor %}
    </g>
</svg>


<script id="legal_moves_data" type="application/json">
    {{ legal_moves_json|safe }}
</script>


<script>

    let legal_moves = JSON.parse(document.getElementById("legal_moves_data").textContent);

    let selected_tile = null;

    function submit_click(element) {        
        const tile_id = element.getAttribute("id");


        if (selected_tile === null) {
            
            // if we selected an allied piece, highlight the moves
            if (tile_id in legal_moves) {
                selected_tile = tile_id;
                highlight_moves(legal_moves[tile_id]);
                highlight_selected(tile_id)
            }
        } else { 
            // if we selected a legal move, move it
            if (legal_moves[selected_tile].includes(tile_id)) {
                const move = selected_tile + ">" + tile_id;

                // snap piece to new location




                // get the piece we want to move and the target tile
                const piece_id = `piece-${selected_tile}`;
                const piece = document.getElementById(piece_id);
                const target_tile = document.getElementById(tile_id);
                
                // if there is a piece there already, remove it
                const piece_taken_id = `piece-${tile_id}`;
                const piece_taken = document.getElementById(piece_taken_id);

                if (piece_taken) {
                    piece_taken.remove()
                }

                // snap piece to new location
                const target_x = target_tile.getAttribute("piece-x");
                const target_y = target_tile.getAttribute("piece-y");
                piece.setAttribute("x", target_x);
                piece.setAttribute("y", target_y);

                // set piece's id to the new tile
                piece.setAttribute("id", `piece-${tile_id}`)
                // make sure piece stays at front
                piece.parentNode.appendChild(piece)


                // submit the move to backend
                // document.getElementById("click_form").submit();
                clear_highlights();
                selected_tile = null;

                // send move via ajax 
                fetch("{% url 'game:ajax_move' %}", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded",
                        "X-CSRFToken": "{{ csrf_token }}",
                    },
                        body: "move=" + encodeURIComponent(move),
                })
                .then(response => response.json())
                .then(data => {
                    console.log("Move confirmed:", data);
                    // update legal moves
                    legal_moves = JSON.parse(data.legal_moves_json); 

                    // update display at the top
                    const turn_display = document.getElementById("turn_disp");
                    if (data.winner === null) {
                        turn_display.textContent = `${data.turn} to move`
                    } else if (data.winner === 0) {
                        turn_display.textContent = `White wins!`
                    } else if (data.winner === 1) {
                        turn_display.textContent = `Black wins!`
                    } else {
                        turn_display.textContent = `Stalemate!`
                    }

                })
                .catch(error => {
                    console.error("Move failed:", error);
                });


            }
            // selected a different allied piece
            else if (tile_id in legal_moves) {
                selected_tile = tile_id;
                highlight_moves(legal_moves[tile_id]);
                highlight_selected(tile_id)
            }
            // if the move isnt legal, clear the highlights
            else {
                clear_highlights();
                selected_tile = null;
            }
        }
    }

    function highlight_moves(moves) {
        clear_highlights();
        // for each tile id in the given moves
        moves.forEach(tile_id => {
            // get the actual tile
            const tile = document.getElementById(tile_id);
            if (tile) {
                // change it's highlighting
                const center_x = tile.getAttribute("center-x");
                const center_y = tile.getAttribute("center-y");
                
                const dot = document.createElementNS("http://www.w3.org/2000/svg", "circle");
                dot.setAttribute("cx", center_x);
                dot.setAttribute("cy", center_y);
                dot.setAttribute("r", 10);
                dot.setAttribute("fill", "black");
                dot.setAttribute("fill-opacity", "0.5");
                dot.setAttribute("pointer-events", "none");

                dot.classList.add("highlight-dot");

                board.appendChild(dot);
            }
        })

    }

    function highlight_selected(tile_id) {
        const board = document.getElementById("board");
        const tile = document.getElementById(tile_id);
        if (tile) {
            // add overlay for highlight
            const selectedOverlay = document.createElementNS("http://www.w3.org/2000/svg", "polygon");
            selectedOverlay.setAttribute("points", tile.getAttribute("points"));
            selectedOverlay.setAttribute("fill", "black");
            selectedOverlay.setAttribute("fill-opacity", "0.3");
            selectedOverlay.setAttribute("stroke", "black");
            selectedOverlay.setAttribute("stroke-width", "2");
            selectedOverlay.setAttribute("pointer-events", "none");
            
            selectedOverlay.classList.add("selected-overlay");

            board.appendChild(selectedOverlay);
        }
    }


    function clear_highlights() {
        document.querySelectorAll("polygon").forEach(tile => {
            document.querySelectorAll(".selected-overlay, .highlight-dot").forEach(el => el.remove());
        })
    }

</script>